{% extends "base.html" %}

{% block title %}Игры{% endblock %}
{% block scripts %}


<script>
  const games = {{ games | tojson }};
</script>
<script src="{{ url_for('static', path='js/game-container.js') }}" type="module" defer>>  </script>


{% endblock %}
{% block content %}
<div class="container">
    <h1>СПИСОК ИГР</h1>

    {% for game in games %}
    <div class="game-container" id="container_{{ game.id }}">
        <h3>{{ game.name }} - {{ game.rating }}</h3>
         <button id="edit_game_{{ game.id }}" type="button">редактировать</button>
         <button id="delete_game_{{ game.id }}"type="button">удалить</button>

    </div>
    {% else %}
    <p>Игры не найдены</p>
    {% endfor %}
</div>
{% endblock %}
