<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="{{ url_for('static', path='favicon.ico') }}" rel="icon">
    <title>{% block title %}Заголовок страницы{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
<header>
    <link href="{{ url_for('static', path='css/base.css') }}" rel="stylesheet">
    {% block header %}
    <header class="navigation">
        <div class="container">
            <a class="logo" href="/">GameScore</a>
            <nav class="nav-links">
                {% if user %}
                <a href="/pages/me/">{{ user.username }}</a>
                {% else %}
                <a href="/pages/login/">Вход</a>
                {% endif %}
                <a href="/pages/games/">Каталог игр</a>
                <a href="/pages/me/games/">Моя коллекция</a>
                <a href="/pages/contact/">Регистрация</a>
            </nav>
        </div>
    </header>
    {% endblock %}
</header>

<main>
    {% block content %}
    <!-- Основное содержимое страницы -->
    {% endblock %}
</main>

<footer>
    {% block footer %}
    © 2025 GameScore
    {% endblock %}
</footer>

{% block global_scripts %}
<script>
    window.currentUserId = {{ (user.id if user else None) | tojson | safe }};
    window.currentUserName = {{ (user.username if user else None) | tojson | safe }};
</script>
{% endblock %}
{% block scripts %}{% endblock %}

</body>
</html>
