<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ url_for('static', path='favicon.ico') }}">
    <title>{% block title %}Заголовок страницы{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
    <header>
<link rel="stylesheet" href="{{ url_for('static', path='css/base.css') }}">
        {% block header %}
        <header class="navigation">
            <div class="container">
                <a href="/" class="logo">GameScore</a>
                <nav class="nav-links">
                {% if user %}
                    <a href="/pages/me">{{ user.username }}</a>
                {% else %}
                    <a href="/pages/login">Вход</a>
                {% endif %}
                <a href="/pages/games">Каталог игр</a>
                <a href="/pages/contact">Регистрация</a>
                </nav>
            </div>
        </header>
        {% endblock %}
    </header>

    <main>
        {% block content %}
        <!-- Основное содержимое страницы -->
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        © 2025 GameScore
        {% endblock %}
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>
